<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Android 11 及以下蓝牙权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Android 11 及以下搜索蓝牙设备通常需要定位权限 -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />

    <!-- Android 12 及以上蓝牙权限 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="s" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADVERTISE"
        tools:targetApi="s" />

    <!-- 声明设备使用蓝牙功能，但不强制要求手机必须有蓝牙 -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:name=".CardGameApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RoomSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SearchDeviceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.GameActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.RulesActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.RoomSettingsActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.RoomLobbyActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>